# Specify filepatterns you want git to ignore.
.DS_Store
stm32/tetra_ros/Core/Inc/actionlib
stm32/tetra_ros/Core/Inc/actionlib_msgs
stm32/tetra_ros/Core/Inc/actionlib_tutorials
stm32/tetra_ros/Core/Inc/bond
stm32/tetra_ros/Core/Inc/control_msgs
stm32/tetra_ros/Core/Inc/diagnostic_msgs
stm32/tetra_ros/Core/Inc/duration.cpp
stm32/tetra_ros/Core/Inc/dynamic_reconfigure
stm32/tetra_ros/Core/Inc/geometry_msgs
stm32/tetra_ros/Core/Inc/map_msgs
stm32/tetra_ros/Core/Inc/nav_msgs
stm32/tetra_ros/Core/Inc/nodelet
stm32/tetra_ros/Core/Inc/ros
stm32/tetra_ros/Core/Inc/roscpp
stm32/tetra_ros/Core/Inc/roscpp_tutorials
stm32/tetra_ros/Core/Inc/rosgraph_msgs
stm32/tetra_ros/Core/Inc/ros.h
stm32/tetra_ros/Core/Inc/rospy_tutorials
stm32/tetra_ros/Core/Inc/rosserial_msgs
stm32/tetra_ros/Core/Inc/sensor_msgs
stm32/tetra_ros/Core/Inc/shape_msgs
stm32/tetra_ros/Core/Inc/smach_msgs
stm32/tetra_ros/Core/Inc/std_msgs
stm32/tetra_ros/Core/Inc/std_srvs
stm32/tetra_ros/Core/Inc/stereo_msgs
stm32/tetra_ros/Core/Inc/STM32Hardware.h
stm32/tetra_ros/Core/Inc/tetra_ros
stm32/tetra_ros/Core/Inc/tf
stm32/tetra_ros/Core/Inc/tf2_msgs
stm32/tetra_ros/Core/Inc/time.cpp
stm32/tetra_ros/Core/Inc/topic_tools
stm32/tetra_ros/Core/Inc/trajectory_msgs
stm32/tetra_ros/Core/Inc/turtle_actionlib
stm32/tetra_ros/Core/Inc/turtlesim
stm32/tetra_ros/Core/Inc/urg_node
stm32/tetra_ros/Core/Inc/visualization_msgs
stm32/tetra_ros/Debug
stm32/tetra_ros/Release
stm32/tetra_ros/tetra_ros.launch