# Specify filepatterns you want git to ignore.
.DS_Store
st_tetra/Core/Inc/actionlib
st_tetra/Core/Inc/actionlib_msgs
st_tetra/Core/Inc/actionlib_tutorials
st_tetra/Core/Inc/bond
st_tetra/Core/Inc/control_msgs
st_tetra/Core/Inc/diagnostic_msgs
st_tetra/Core/Inc/duration.cpp
st_tetra/Core/Inc/dynamic_reconfigure
st_tetra/Core/Inc/geometry_msgs
st_tetra/Core/Inc/map_msgs
st_tetra/Core/Inc/nav_msgs
st_tetra/Core/Inc/nodelet
st_tetra/Core/Inc/ros
st_tetra/Core/Inc/roscpp
st_tetra/Core/Inc/roscpp_tutorials
st_tetra/Core/Inc/rosgraph_msgs
st_tetra/Core/Inc/ros.h
st_tetra/Core/Inc/rospy_tutorials
st_tetra/Core/Inc/rosserial_msgs
st_tetra/Core/Inc/sensor_msgs
st_tetra/Core/Inc/shape_msgs
st_tetra/Core/Inc/smach_msgs
st_tetra/Core/Inc/std_msgs
st_tetra/Core/Inc/std_srvs
st_tetra/Core/Inc/stereo_msgs
st_tetra/Core/Inc/STM32Hardware.h
st_tetra/Core/Inc/tetra_ros
st_tetra/Core/Inc/tf
st_tetra/Core/Inc/tf2_msgs
st_tetra/Core/Inc/time.cpp
st_tetra/Core/Inc/topic_tools
st_tetra/Core/Inc/trajectory_msgs
st_tetra/Core/Inc/turtle_actionlib
st_tetra/Core/Inc/turtlesim
st_tetra/Core/Inc/urg_node
st_tetra/Core/Inc/visualization_msgs
st_tetra/Debug
st_tetra/Release
st_tetra/tetra_ros.launch