# Specify filepatterns you want git to ignore.
.DS_Store
st_tetra/Core/Incactionlib
st_tetra/Core/Incactionlib_msgs
st_tetra/Core/Incactionlib_tutorials
st_tetra/Core/Incbond
st_tetra/Core/Inccontrol_msgs
st_tetra/Core/Incdiagnostic_msgs
st_tetra/Core/Incduration.cpp
st_tetra/Core/Incdynamic_reconfigure
st_tetra/Core/Incgeometry_msgs
st_tetra/Core/Incmap_msgs
st_tetra/Core/Incnav_msgs
st_tetra/Core/Incnodelet
st_tetra/Core/Incros
st_tetra/Core/Incroscpp
st_tetra/Core/Incroscpp_tutorials
st_tetra/Core/Incrosgraph_msgs
st_tetra/Core/Incros.h
st_tetra/Core/Incrospy_tutorials
st_tetra/Core/Incrosserial_msgs
st_tetra/Core/Incsensor_msgs
st_tetra/Core/Incshape_msgs
st_tetra/Core/Incsmach_msgs
st_tetra/Core/Incstd_msgs
st_tetra/Core/Incstd_srvs
st_tetra/Core/Incstereo_msgs
st_tetra/Core/IncSTM32Hardware.h
st_tetra/Core/Inctetra_ros
st_tetra/Core/Inctf
st_tetra/Core/Inctf2_msgs
st_tetra/Core/Inctime.cpp
st_tetra/Core/Inctopic_tools
st_tetra/Core/Inctrajectory_msgs
st_tetra/Core/Incturtle_actionlib
st_tetra/Core/Incturtlesim
st_tetra/Core/Incurg_node
st_tetra/Core/Incvisualization_msgs