<launch>

 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="/home/ubuntu/catkin_ws/src/TetraROS/test_slam/salon4.yaml"/>

 <!--- Run AMCL --> 
    <include file="./test_slam/amcl_diff.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="./test_slam/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="./test_slam/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="./test_slam/local_costmap_params.yaml" command="load" />
    <rosparam file="./test_slam/global_costmap_params.yaml" command="load" /> 
    <rosparam file="./test_slam/base_local_planner_params.yaml" command="load" />
 </node>

</launch> 
