<!-- at_robot_system.launch -->

<launch>
    <machine name="ubiquity" address="ubiquityrobot.local" user="ubuntu" password="ubuntu" default="True" env-loader="/opt/ros/kinetic/env.sh"/>

    <group ns="at_robot">
        <node machine="ubiquity" pkg="joy" name="joy_node" type="joy_node"></node>
    </group>

</launch>
