<!-- at_robot_system.launch -->

<launch>
    <machine name="tetra" address="tetra" user="ubuntu" password="ubuntu" default="True" env-loader="/opt/ros/kinetic/env.sh"/>

    <node machine="tetra" pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>
    <node machine="tetra" pkg="joy" name="joy_node" type="joy_node"></node>
    <node machine="tetra" name="teleop" pkg="teleop_twist_joy" type="teleop_node"/>
    <node machine="laptopRobotique" name="lidar" pkg="urg_node" type="urg_node">
        <param name="ip_address" value="10.0.0.10"/>
    </node>
    <node machine="tetra" name="terta_service" pkg="tetra_ros" type="tetra_utility.py" output="screen" required='true'/>
</launch>
